@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@600&display=swap');

/* Common styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
  
html {
  font-size: 62.5%;
  overflow-y:scroll;
}

body {
  font-family: "IBM Plex Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  font-display: swap;
  background-image: linear-gradient(to right, #ff6382, #6d83f3);
  color: #ffffff;
}

h1 {
  font-size: 5rem;
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

h2 {
  font-size: 3.5rem;
  letter-spacing: 0.4rem;
  margin-bottom: 3rem;
  text-align: center;
}

h3 {
  font-size: 3rem;
}

p {
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  display: inline-block;
  margin: 0 1rem 0 0;
}

ul {
  list-style-type: none;
}

main {
  max-width: 1050px; 
  margin: 10rem auto;
  padding: 0 2rem;
}

button {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  min-width: 3.8rem;
}

button:hover {
  opacity: 0.7;
} 

/* Header */
header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.6rem white solid;
  padding-top: 8px;
  padding-right: clamp(10px, 2.5vw, 20px);
  padding-left: clamp(10px, 2.5vw, 20px);
  background-color: #1e1e1e;
  max-width: 1500px; 
  margin: 0 auto;
}

.header__inner {
  width: 80%;
  max-width: 400px;
}

.header__inner-img {
  width: 100%;
}

header > * > p {
  color: #fff;
}

.header__inner .register-Button {
  width: clamp(62px, 16vw, 90px);
  margin-bottom: 6px;
  padding: 0.2rem 0;
  display: block;
}

header > div > div:nth-child(2) > button {
  margin-right: 0;
}

header > * > img {
  width: 40rem
}

header > * > button {
  padding: 0 16px;
  background-color: transparent;
  border: 1px solid #0070d2;
  color: #0070d2;
}


.userArea__logout {
  display: flex;
  justify-content: flex-end;
}

.userArea__logout .register-Button {
  width: fit-content;
  margin: 0 0 0 10px;
  font-size: clamp(12px, 2.5vw, 14px);
  flex-shrink: 0;
}

.userArea__pulse {
  background: #00d219;
  border-radius: 50%;
  margin: 10px 0;
  height: 14px;
  width: 14px;
  flex-shrink: 0;
  box-shadow: 0 0 0 0 #00d219;
  transform: scale(1);
  animation: pulse 2s infinite;
}

.userArea__name {
  width: fit-content;
  margin: 0 0 10px auto;
  margin-right: 0;
  font-size: clamp(12px, 2.5vw, 14px);
}

@keyframes pulse {
    0%{
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #00d219;
    }

    70%{
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100%{
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* Home */
.home {
  text-align: center;
}

.home-text {
  width: auto;
}

.home > p {
  margin-bottom: 2rem;
}

.home .register-Button {
  width: 220px;
  padding: 8px 0;
}

/* Register */
input[type=text], input[type=email], textarea {
  width: 86%;
  max-width: 400px;
  font-family: inherit;
  padding: 0.6rem;
  margin: 2rem auto 2rem;
  box-sizing: border-box;
  border: solid 1px transparent;
  border-radius: 0.5rem;
  display: block;
}

form .register-Button {
  width: 64%;
  max-width: 250px;
  margin-top: 30px;
  padding: 8px 0;
}

/* Search */
.search button:first-of-type {
  margin-bottom: 2rem;
  padding: 0.6rem 5rem;
}

.search button:nth-of-type(2) {
  width: 40px;
  height: 40px;
}

/* List */
.list-container {
  display: flex;
  margin-top: 4rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-container:has(.list-container__search-list) {
  justify-content: space-between;
}

.list-container:has(.list-container__detail-list) {
  justify-content: center;
}

.list-container__search-list {
  width: 28%;
  margin-bottom: 6rem;
  word-wrap: break-word;
}

.list-container__detail-list {
  width: 184px;
  margin: 0 60px 50px;
  word-wrap: break-word;
}

.list-container > * > img {
  width: 100%;
  border-radius: 1rem;
}

/* Loading */
.loading {
  width: 48px;
  height: 48px;
  position: relative;
  margin: 12rem auto 0;
}

.loading::before , .loading::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 48em;
    height: 48em;
    background-image:
      radial-gradient(circle 10px, #FFF 100%, transparent 0),
      radial-gradient(circle 10px, #FFF 100%, transparent 0),
      radial-gradient(circle 10px, #FFF 100%, transparent 0),
      radial-gradient(circle 10px, #FFF 100%, transparent 0),
      radial-gradient(circle 10px, #FFF 100%, transparent 0),
      radial-gradient(circle 10px, #FFF 100%, transparent 0),
      radial-gradient(circle 10px, #FFF 100%, transparent 0),
      radial-gradient(circle 10px, #FFF 100%, transparent 0);
    background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
                         13em -13em, -13em -13em, 13em 13em, -13em 13em;
    background-repeat: no-repeat;
    font-size: 0.5px;
    border-radius: 50%;
    animation: blast 0.4s ease-in infinite;
}

.loading::after {
    font-size: 1px;
    background: #35ff6e;
  animation: bounce 0.4s ease-in infinite;
}
  
@keyframes bounce {
    0%, 100%{font-size: 0.75px}
    50%{font-size: 1.5px}
}
@keyframes blast{
    0% , 40%{font-size: 0.5px;}
    70%{
      opacity: 1;
      font-size: 4px;
    }
    100%{
      font-size: 6px;
      opacity: 0;
    }
}

@media only screen and (max-width: 700px) {

  .home-text {
    width: 100%;
    margin: 0 auto;
    font-size: clamp(42px, 12vw, 50px);
  }

  .list-container {
    justify-content: center;
  }

  .list-container > * > img {
    width: 100%;
    border-radius: 1rem;
  }

  .list-container__search-list {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {

  .list-container:has(.list-container__detail-list) {
    justify-content: space-between;
  }

  .list-container__detail-list {
    width: 40%;
    margin: 0 16px 50px;
  }
}